@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<h1>Hello from Home Index</h1>

@if (SignInManager.IsSignedIn(User))
{
    <h3>Welcome @UserManager.GetUserName(User)</h3>
}