@model MvcMovie.Models.OrderDetails

@{
    ViewData["Title"] = "Rent";
}

<div style="margin:20px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Film Rent</h4>
    </div>
    <h2>Rent</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="MovieID" value="@Model.MovieID" />
                <input type="hidden" name="UserId" value="@Model.UserId" />

                <div class="form-group">
                    <label for="RentDate" class="control-label">Rent date</label>
                    <input autocomplete="off" name="RentDate" class="form-control datapicker" data-provide="datepicker" />

                </div>
                <div class="form-group">
                    <label for="ReturnDate" class="control-label">ReturnDate</label>
                    <input autocomplete="off" name="ReturnDate" class="form-control datapicker" data-provide="datepicker" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Rent" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Movies" asp-action="Index">Back to List</a>
    </div>
</div>