@model MvcMovie.Models.RentViewModel

@{
    ViewData["Title"] = "My Rents";
}

<h2>My Rent</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Movie Title
            </th>
            <th>
                Rent Date
            </th>
            <th>
                Return Date
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrdersDetails)
        {
        <tr>
            <td>
                @item.Movie.Title
            </td>
            <td>
                @item.RentDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @item.RentDate.ToString("dd-MM-yyyy")
            </td>
        </tr>
                }
            
        </tbody>
    </table>

